body {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Dongle', sans-serif;
  font-family: 'Righteous', cursive;
}

header {
  background-color: lightgreen;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-family: 'Righteous', cursive;
}

header img {
  max-width: 100px;
  padding: 5px;
}

h2 {
  margin: 0 4%;
}

main {
  background-color: lightgrey;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 1000px;
}

#dispUsers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #171717;
  min-height: 250px;
  margin: auto 0 0;
  box-shadow: 0 50vh 0 50vh #171717;
}

footer p {
  color: whitesmoke;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f0ead2;
  margin: 1%;
}

footer img {
  max-width: 30%;
  margin: 1%;
}

p {
  margin: 0;
}

section {
  width: 95%;
}

#statsCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px;
  padding: 5px;
  border: solid 2px black;
  border-radius: 5%;
  width: 200px;
}

#statsCard p {
  margin: 2px;
}

@media only screen and (max-width: 600px) {

  main {
    min-height: 1100px;
  }

  footer {
    min-height: 50px;
  }
  footer img {
    max-width: 60%;
  }
  #statsCard {
    width: 60%;
  }
}