body {
  display: flex;
  flex-flow: column nowrap;
}

header {
  background-color: lightgreen;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  max-width: 100px;
}

h2 {
  margin: 0 4%;
}

main {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

footer {
  background-color: grey;
}

p {
  margin: 0;
}

#statsCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: solid 2px black;
}
