body {
  display: flex;
  flex-flow: column nowrap;
}

header {
  background-color: lightgreen;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 0 4%;
}

main {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

footer {
  background-color: grey;
}

p {
  margin: 0;
}
